<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Admiistrar</title>
    <%- include('../component/util/header') %>
</head>
<body>
    <%- include('../component/util/nav-bar-admin') %>
    <div id="root">
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#ID</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Plan</th>
                        <th scope="col">Duracion</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="carrera in carreras">
                        <th scope="row">{{ carrera.idCarrera }}</th>
                        <td>{{ carrera.nombre }}</td>
                        <td>{{ carrera.plan }}</td>
                        <td>{{ carrera.duracion }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <script>
        var root = new Vue({
            el: '#root',          
            data:{
                carreras: []
            },          
            mounted: function() {
                this.load();
            },          
            methods:{
                load: function(){
                    axios.get(`/administrar/carreras/carreras`).then((response) => {
                        this.carreras = response.data;
                    });
                }
            }
        })
    </script>
</body>
</html>