<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Admiistrar</title>
    <%- include('../component/util/header') %>
</head>
<body>
    <%- include('../component/util/nav-bar-admin') %>
    <div id="root"class="root">
        <div class="card card-body">
            <div class="row">
                <div class="col-sm">
                    <div class="mb-3 col-sm">
                        <select class="form-select" v-on:change="cargarAnios()" v-model="carrera" aria-label="Default select example">
                            <option selected>-</option>
                            <option v-for="carrera in carreras" v-bind:value="carrera.idCarrera">{{ carrera.nombre }}</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <select v-on:change="cargarCuatrimestre()" class="form-control" v-model="anios" v-if="d_anios" >
                            <option value="-">-</option>
                            <option v-for="i in duracion" v-bind:value="i">{{ i }}</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <select class="form-control" v-model="cuatrimestre" v-if="d_cuatrimestre">
                            <option value="-">-</option>
                            <option value="1">1°</option>
                            <option value="2">2°</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <button v-on:click="consultar()" class="btn btn-primary" type="button" data-toggle="collapse" data-target=".multi-collapse" aria-expanded="false" aria-controls="filtro">
                            Filtrar
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row h-100">
            <div class="col-sm-2">
                <h5>Lunes</h5>
                <hr>
                <p v-if="lunes.length > 0" v-for="materia in lunes">
                    <materiacardadmin v-bind:url="`/administrar/horarios/horario/edit/${materia.idMateria}/${materia.dia}/${materia.modulo}/${materia.horainicio}`" v-bind:materia="materia"></materiacardadmin>
                </p>
            </div>
            <div class="col-sm-2">
                <h5>Martes</h5>
                <hr>
                <p v-if="martes.length > 0" v-for="materia in martes">
                    <materiacardadmin v-bind:materia="materia"></materiacardadmin>
                </p>
            </div>
            <div class="col-sm-2">
                <h5>Miercoles</h5>
                <hr>
                <p v-if="miercoles.length > 0" v-for="materia in miercoles">
                    <materiacardadmin v-bind:materia="materia"></materiacardadmin>
                </p>
            </div>
            <div class="col-sm-2">
                <h5>Jueves</h5>
                <hr>
                <p v-if="jueves.length > 0" v-for="materia in jueves">
                    <materiacardadmin v-bind:materia="materia"></materiacardadmin>
                </p>
            </div>
            <div class="col-sm-2">
                <h5>Viernes</h5>
                <hr>
                <p v-if="viernes.length > 0" v-for="materia in viernes">
                    <materiacardadmin v-bind:materia="materia"></materiacardadmin>
                </p>
            </div>
            <div class="col-sm-2">
                <h5>Sabado</h5>
                <hr>
                <p v-if="sabado.length > 0" for="materia in sabado">
                    <materiacardadmin v-bind:materia="materia"></materiacardadmin>
                </p>
            </div>
        </div>
    </div>
    <script src="/js/componentadmin.js"></script>
    <script src="/js/data.js"></script>
    <script>

        var app = new Vue({
            el: '#root',          
            data: {
                datos: data,          
                carreras: data.carreras,          
                duracion: 0,          
                d_anios: false,          
                d_cuatrimestre: false,          
                d_add: false,          
                carrera: "-",          
                cuatrimestre: "-",          
                anios: "-",          
                info: null,          
                horario: [],          
                lunes: [],martes: [],miercoles: [],jueves: [],viernes: [],sabado: [],          
                errors: []
            },          
            methods: {
                cargarAnios: function () {
                    this.duracion = 0;
                    this.anios = "-";

                    var idcarrera = this.carrera;
                    this.duracion = this.carreras[parseInt(idcarrera) - 1].duracion;
                    this.d_anios = true;
                },          
                cargarCuatrimestre : function (){
                    this.d_cuatrimestre = true;
                },          
                addDisplay: function (){
                    this.d_add = true;
                },          
                consultar: function () {
                    if(this.carrera != "-" && this.cuatrimestre != "-" && this.anios != "-"){
                        //llamada a la funcion para poder trar los datos
                        axios.get(`/administrar/horarios/horarios/carreraaniocuatrimestre/${this.carrera}/${this.anios}/${this.cuatrimestre}`).then((response) => {
                            if(response.data.length > 0) {
                                this.horarios = response.data;
                                this.limpiar();
                                this.clasificar(response.data);
                            }else{
                                this.errors = [];
                                this.errors.push(`La materia seleccionada no tiene recursados para el ${this.cuatrimestre}° cuatrimestre`);
                            }
                        });
                    }
                },          
                clasificar: function (array) {
                    array.forEach(element => {
                        switch (element.dia) {
                            case 'Lunes':
                                this.lunes.push(element);
                                this.lunes.sort(this.compareDate);
                                break;
                            case 'Martes':
                                this.martes.push(element);
                                this.martes.sort(this.compareDate);
                                break;
                            case 'Miercoles':
                                this.miercoles.push(element);
                                this.miercoles.sort(this.compareDate);
                                break;
                            case 'Jueves':
                                this.jueves.push(element);
                                this.jueves.sort(this.compareDate);
                                break;
                            case 'Viernes':
                                this.viernes.push(element);
                                this.viernes.sort(this.compareDate);
                                break;
                            case 'Savado':
                                this.savado.push(element);
                                this.savado.sort(this.compareDate);
                                break;
                            default:

                                break;
                        }
                    })
                },          
                limpiar: function (){
                    this.lunes=[];this.martes=[];this.miercoles=[];this.jueves=[];this.viernes=[];this.sabado=[];
                },          
                compareDate: function(a,b) {
                    var retorno;
                    a = a.horainicio;
                    b = b.horainicio;
                    if(a > b){
                        retorno = 1;
                    }else if(a == b){
                        retorno = 0;
                    }else{
                        retorno = -1;
                    }
                    return retorno;
                }
            }
        });
    </script>
</body>
</html>