<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Admiistrar</title>
    <%- include('../component/util/header') %>
</head>
<body>
    <%- include('../component/util/nav-bar-admin') %>
    <div id="root" class="container-fluid">
        <p>
            <button class="btn btn-primary" type="button" data-toggle="collapse" data-target=".multi-collapse" aria-expanded="false" aria-controls="filtro">
                <span class="material-icons">
                    filter_list
                </span>
            </button>
        </p>
        <div class="row">
            <div class="col">
              <div class="collapse multi-collapse" id="filtro">
                <div class="card card-body">
                    <div class="mb-3">
                        <select class="form-select" v-on:change="filtrar" v-model="filtroSelect" aria-label="Default select example">
                            <option selected>-</option>
                            <option v-for="carrera in carreras" v-bind:value="carrera.idCarrera">{{ carrera.nombre }}</option>
                        </select>
                    </div>
                </div>
              </div>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#ID</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Cuatrimestre</th>
                        <th scope="col">Año</th>
                        <th scope="col">Carreras</th>
                        <th scope="col">Editar</th>
                        <th scope="col">Eliminar</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(materia,i) in materias">
                        <th scope="row">{{ materia.idMateria }}</th>
                        <td>{{ materia.nombre }}</td>
                        <td>{{ materia.cuatrimestre }}°</td>
                        <td>{{ materia.ano }}</td>
                        <td>
                            <span v-for="final in materia.carreras" class="badge bg-secondary">
                                <i v-if="final.idCarrera == 1">Prof</i>
                                <i v-else-if="final.idCarrera == 2">LCC</i>
                                <i v-else-if="final.idCarrera == 3">LSI</i>
                                <i v-else-if="final.idCarrera == 4">TUDW</i>
                                <i v-else>TUASySL</i>
                            </span>
                        </td>
                        <td>
                            <button type="button" class="btn btn-link">
                                <span class="material-icons">
                                    create
                                </span>
                            </button>
                        </td>
                        <td>
                            <buttom type="button" class="btn btn-link">
                                <span class="material-icons">
                                    delete
                                </span>
                            </buttom>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <script>
        var root = new Vue({
            el: '#root',          
            data:{
                carreras: [],          
                materias: [],          
                filtroSelect: null,          
                edicion: {
                    nombre: null,          
                    cuatrimestre: null,          
                    anio: null,          
                    carrera: []
                }
            },          
            mounted: function() {
                this.load();
            },          
            methods:{
                load: function(){
                    axios.get(`/administrar/materias/materias`).then((response) => {
                        this.materias = response.data;
                    });

                    axios.get(`/administrar/carreras/carreras`).then((response) => {
                        this.carreras = response.data;
                    });
                },          
                filtrar: function() {
                    
                    if(this.filtroSelect){
                        axios.get(`/administrar/materias/materias/carrera/${this.filtroSelect}`).then((response) => {
                            this.materias = response.data;
                        });
                    }
                }
            }
        })
    </script>
</body>
</html>