<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Document</title>
    <%- include('component/util/header') %> 
</head>
<body>
    <%- include('component/util/nav-bar') %>
    <div class="container-fluid">
        <h1>Correlativas</h1>
        <p>El sistema de correlatividades es lo más confuso en el primer año de la carrera,ya que no se aclara de forma explícita. 
            Podemos decir que es como una especie de árbol de habilidades de un juego o una receta de cocina. Necesitas desbloquear una para conseguir las siguientes,          o preparar algo previo para el siguiente paso.
            En este caso es los mismo,necesitas aprobar una materia para cursar otras.</p>
        <p>Este sistema sirve para consultar las correlatividades,ya que considero un poco molesto mirarlo desde un pdf con una tabla etc. 
            Seleccionamos la carrera,el año y luego la materia que queramos consultar,nos listará las materias necesarias y las correlativas,
            además de los finales necesarios para las mismas.</p>
        <hr>
        <div class="row">
            <div class="col d-flex justify-content-center">
                <form id="app">
                    <div class="mb-3">
                        <select class="form-control" v-model="carrerasValue" class="d-block" v-on:change="cargarAnios()">
                            <option value="-">-</option>
                            <option v-for="carrera in carreras" v-bind:value="carrera.idCarrera">{{ carrera.nombre }}</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <select class="form-control" v-model="aniosValue" v-if="anios" id="anios" v-on:change="cargarMaterias()">
                            <option value="-">-</option>
                            <option v-for="i in duracion" v-bind:value="i">{{ i }}</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <select class="form-control" v-model="materiasValue" v-if="materias"  v-on:change="consultar()">
                            <option value="-">-</option>
                            <option v-for="materia in materias" v-bind:value="materia.idMateria">{{ materia.nombre }}-{{ materia.cuatrimestre }}</option>
                        </select>
                    </div>
                </form>
            </div>
        </div>
        <div class="row">
            <div id="app2" v-if="display" class="col">
                <div class="container">
                    <div class="row" >
                        <div class="col">
                            <h2>Necesarias</h2>
                            
                            <div v-if="necesarias.length == 0" class="alert alert-info" role="alert">
                                No require cursados previos
                            </div>

                            <div v-for="necesaria in necesarias" class="card" style="margin-bottom: 1%;">
                                <div class="card-body">
                                    <p>{{ necesaria.nombre }}</p>
                                    <p>Año: {{ necesaria.ano }}° / Cuatrimestre: {{ necesaria.cuatrimestre }}°</p>
                                    <p class="text-secondary" v-if="necesaria.finales.length > 0">
                                        Finales:
                                        <ul class="list-group list-group-horizontal">
                                            <li class="list-group-item" v-for="final in necesaria.finales"> {{ final.nombre }} </li>
                                        </ul>
                                    </p>   
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <h2>Correlativas</h2>

                            <div v-if="disponibles.length == 0" class="alert alert-info" role="alert">
                                No dispone de correlativas
                            </div>

                            <div v-for="disponible in disponibles" class="card" style="margin-bottom: 1%;">
                                <div class="card-body">
                                    <p>{{ disponible.nombre }}</p>
                                    <p>Año: {{ disponible.ano }}° / Cuatrimestre: {{ disponible.cuatrimestre }}°</p>
                                    <p class="text-secondary" v-if="disponible.finales.length > 0">
                                        Finales:
                                        <ul class="list-group list-group-horizontal">
                                            <li class="list-group-item" v-for="final in disponible.finales"> {{ final.nombre }} </li>
                                        </ul>
                                    </p>   
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="/js/data.js"></script>
        <script src="/js/correlativas.js"></script>
    </div>
</body>
</html>