<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Document</title>
    <%- include('component/util/header') %>
    <style>
        .verde{
            background-color: rgba(40,167,69,0.48);
        }
    </style>
</head>
<body>
    <%- include('component/util/nav-bar') %>
    <div class="container-fluid">
        <div class="row" id="reloj">
            <h1 class="d-flex justify-content-center" v-if="dia">{{ dia }}</h1>
            <h1 class="d-flex justify-content-center" v-if="hora">{{ hora }}</h1>
        </div>
        <div class="row">
            <div class="d-flex justify-content-end col-sm">
                <a href="/horarios/misemana" type="button" class="btn btn-primary">Mi Semana</a>
            </div>
        </div>
        <div class="row table-responsive">
            <table class="table" id="app">
                <thead>
                  <tr>
                    <th scope="col">Hora</th>
                    <th scope="col">Materia</th>
                    <th scope="col">Carrera</th>
                    <th scope="col">Aula</th>
                    <th scope="col">Modulo</th>
                    <th scope="col">Estado</th>
                  </tr>
                </thead>
                <tbody>
                    <tr v-bind:class="horario.color" v-for="horario in horarios">
                        <td>{{ horario.horainicio }}</td>
                        <td>{{ horario.nombremateria }}</td>
                        <td>
                            <ul class="list-group list-group-horizontal border-0">
                                <li v-bind:class="horario.color" v-for="carrera in horario.carreras" class="border-0 list-group-item">
                                    <span v-if="carrera.idCarrera == 1 " class="badge bg-secondary">Prof</span>
                                    <span v-else-if="carrera.idCarrera == 2 " class="badge bg-secondary">LCC</span>
                                    <span v-else-if="carrera.idCarrera == 3 " class="badge bg-secondary">LSI</span>
                                    <span v-else-if="carrera.idCarrera == 4 " class="badge bg-secondary">TUDW</span>
                                    <span v-else class="badge bg-secondary">TUASySL</span>
                                </li>
                            </ul>
                        </td>
                        <td>{{ horario.aula }}</td>
                        <td>{{ horario.modulo }}</td>
                        <td>
                            <span v-if="horario.estado == 'normal' " class="badge bg-success">{{ horario.estado }}</span>
                            <span v-else-if="horario.estado == 'parcial' " class="badge bg-warning text-dark">{{ horario.estado }}</span>
                            <span v-else class="badge bg-danger">{{ horario.estado }}</span>
                        </td>
                        <td class="d-none">
                            {{ horario.horafin }}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <script src="/js/component.js"></script>
        <script src="/js/data.js"></script>
        <script src="/js/horarios.js"></script>
    </div>
</body>
</html>