<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Document</title>
    <%- include('component/util/header') %> 
</head>
<body>
    <%- include('component/util/nav-bar') %>
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <h3 class="d-flex justify-content-center">Bienvenidos a la web del CEFAI</h3>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p>
                    En esta web encontrará algunas aplicaciones que mejorarán su experiencia en su cursada. 
                    Podrá consultar las correlativas de cursado de las distintas materias que se dictan en la facultad,
                    además de poder ver los horarios del día,y una de las últimas aplicaciones es la de poder armar tu calendario 
                    semanal con las materias que selecciones. 
                    Espero que estas aplicaciones les sean de utilidad para esta cursada. 
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
                <h4 class="d-flex justify-content-center">Horarios</h4>
                <a href="/horarios">
                    <img src="/media/horarios.png" class="hvr-shrink img-thumbnail" alt="...">
                </a>
            </div>
            <div class="col-sm">
                <h4 class="d-flex justify-content-center">Mi semana</h4>
                <a href="/horarios/misemana">
                    <img src="/media/misemana.png" class="hvr-shrink img-thumbnail" alt="...">
                </a>
            </div>
        </div>
        <div class="row d-flex justify-content-center">
            <div class="col-sm-6 ">
                <h4 class="d-flex justify-content-center">Correlativas</h4>
                <a href="/correlativas">
                    <img src="/media/correlativas.png" class="hvr-shrink img-thumbnail" alt="...">
                </a>
            </div>
        </div>
    </div>
</body>
</html>